doctype html
html
  head
    title Employee App
    link(rel="stylesheet", href="/style.css")
  body
    header
      h1 Employee Record
      nav
        a(href="/") Home
        a(href="/new") Add employee
    block content
